* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.bold {
  font-weight: 800;
}

.font-30 {
  font-size: 30px;
}

.font-20 {
  font-size: 20px;
}

.pointer {
  cursor: pointer;
}

.space-around {
  justify-content: space-around;
}

.margin-t-20 {
  margin-top: 20px;
}